.card {
    padding-bottom: 4px;
}

.card-body {
    color: #00303b;
}

.card-header {

}

.card-time {
    font-size: 150%;
}

.card-text {

}

.card-button {
    background: transparent;
    border: 2px solid #ff7777;
    color: #ff7777;
    margin-bottom: 12px;
}