html {
  background: #ffce96;
  line-height: 0.5;
  margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  margin: 0;
  font-kerning: normal;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #00303b;
}

main {
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: clamp(200%,3vw,300%);
}

h2 {
  color: #ff7777;
}

h1, h2, h3 {
  font-size: 200%;
  font-weight: 800;
  margin: 0 auto;
  line-height: 1.5;
}

p {
  line-height: 1.5;
}

p.link-paragraph {
  margin: 4px;
  padding: 8px;
}

a {
  color: #00303b;
  font-size: 90%;
}

hr {
  border-color: #ff7777;
}

img {
  display: block;
  margin: 0 auto 2em;
}

input {
  width: 100%;
  margin-bottom: 8px;
  height: 24px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
}

